@import 'util';

body, html {
  font-family:'Helvetica-Neue',helvetica,sans-serif;
  font-size:14px;
  height:100%;
  margin:0;
  padding:0;
  position:relative;
}

* {
  box-sizing:border-box;
}

.shepard {
  background-color:#000;
  border:2px solid #444;
  margin:auto;
  position:relative;
}

.control-area {
  padding:2rem 0;
  position:relative;
  &::after {
    clear:both;
    content:'';
    display:table;
  }
}

.output, .tones-group {
  background-color:rgb(38,38,38);
  border:2px solid rgb(50,50,50);
  float:left;
  .label {
    background-color:rgb(50,50,50);
    color:#ddd;
    font-size:0.8rem;
    font-weight:300;
    padding:0.3rem 0 0.5rem 0;
    text-align:center;
  }
  .controls {
    display:flex;
    justify-content:space-around;
    padding:0 1rem 1rem 1rem;
  }
  &::after {
    clear:both;
    content:'';
    display:table;
  }
}

.viz-group {
  display:flex;
  justify-content:space-around;
  padding:0 1rem;
}

.tones {
  float:left;
}

.btn-area {
  padding-bottom:1rem;
  text-align:center;
  button {
    background-color:#777;
    border:2px solid #777;
    border-radius:0.3rem;
    color:#eee;
    font-size:1rem;
    outline:none;
    padding:0.5rem 2rem;
    width:100px;
    @include util-transition(all 0.15s ease-in);
    &:hover {
      background-color:#555;
      border-color:#555;
    }
    &:focus {
      border-color:dodgerblue;
    }
  }
}

/* ToneControl.jsx sliders. */
.tone-control {
  display:inline-block;
  position:relative;
  user-select:none;
  .track {
    background-color:rgba(255,255,255,0.2);
    border-style:solid;
    border-color:rgba(255,255,255,0.4);
    left:0;
    position:absolute;
    top:0;
  }
  .knob {
    background-color:#fff;
    border-style:solid;
    border-color:#fff;
    @include util-box-shadow(1px 1px 3px 2px rgba(255,255,255,0.2) inset);
    position:absolute;
    @include util-transition(background-color 0.15s ease-in);
  }
  .fill {
    background-color:#f2f2f2;
    opacity:0.8;
    position:absolute;
  }
}

.reverb {
  .tone-control {
    .knob, .fill {
      background-color:violet;
    }
    .knob:hover {
      background-color:lighten(violet, 5%);
    }
  }
}

.volume {
  .tone-control {
    .knob, .fill {
      background-color:orange;
    }
  }
  .knob:hover {
    background-color:lighten(orange, 5%);
  }
}

.tones-up {
  .tone-control-0 {
    .knob, .fill {
      background-color:darken(dodgerblue, 20%);
    }
  }
  .tone-control-1 {
    .knob, .fill {
      background-color:darken(dodgerblue, 10%);
    }
  }
  .tone-control-2 {
    .knob, .fill {
      background-color:dodgerblue;
    }
  }
  .tone-control-3 {
    .knob, .fill {
      background-color:lighten(dodgerblue, 10%);
    }
  }
}

.tones-down {
  .tone-control-0 {
    .knob, .fill {
      background-color:darken(mediumseagreen, 20%);
    }
  }
  .tone-control-1 {
    .knob, .fill {
      background-color:darken(mediumseagreen, 10%);
    }
  }
  .tone-control-2 {
    .knob, .fill {
      background-color:mediumseagreen;
    }
  }
  .tone-control-3 {
    .knob, .fill {
      background-color:lighten(mediumseagreen, 10%);
    }
  }
}

.viz-area {
  padding-bottom:1rem;
  position:relative;
  .box {
    background-color:#fff;
    border-radius:3px;
    height:6px;
    position:absolute;
    width:6px;
    &.box-0 {
      background-color:darken(dodgerblue, 20%);
    }
    &.box-1 {
      background-color:darken(dodgerblue, 10%);
    }
    &.box-2 {
      background-color:dodgerblue;
    }
    &.box-3 {
      background-color:lighten(dodgerblue, 10%);
    }
    &.box-4 {
      background-color:darken(mediumseagreen, 20%);
    }
    &.box-5 {
      background-color:darken(mediumseagreen, 10%);
    }
    &.box-6 {
      background-color:mediumseagreen;
    }
    &.box-7 {
      background-color:lighten(mediumseagreen, 10%);
    }
  }
}

.tone-viz {
  .bar {
    background-color:#fff;
    opacity:0.1;
  }
}

.tone-viz-0 .bar {
  background-color:darken(dodgerblue, 20%);
}

.tone-viz-1 .bar {
  background-color:darken(dodgerblue, 10%);
}

.tone-viz-2 .bar {
  background-color:dodgerblue;
}

.tone-viz-3 .bar {
  background-color:lighten(dodgerblue, 10%);
}
