body, html {
  font-family: 'Helvetica-Neue',helvetica,sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

* {
  box-sizing: border-box; }

.shepard {
  background-color: #000;
  border: 2px solid #444;
  margin: auto;
  position: relative; }

.control-area {
  padding: 2rem 0;
  position: relative; }
  .control-area::after {
    clear: both;
    content: '';
    display: table; }

.output, .tones-group {
  background-color: #262626;
  border: 2px solid #323232;
  float: left; }
  .output .label, .tones-group .label {
    background-color: #323232;
    color: #ddd;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.3rem 0 0.5rem 0;
    text-align: center; }
  .output .controls, .tones-group .controls {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 1rem 1rem; }
  .output::after, .tones-group::after {
    clear: both;
    content: '';
    display: table; }

.viz-group {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem; }

.tones {
  float: left; }

.btn-area {
  padding-bottom: 1rem;
  text-align: center; }
  .btn-area button {
    background-color: #777;
    border: 2px solid #777;
    border-radius: 0.3rem;
    color: #eee;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
    width: 100px;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .btn-area button:hover {
      background-color: #555;
      border-color: #555; }
    .btn-area button:focus {
      border-color: dodgerblue; }

/* ToneControl.jsx sliders. */
.tone-control {
  display: inline-block;
  position: relative;
  user-select: none; }
  .tone-control .track {
    background-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    left: 0;
    position: absolute;
    top: 0; }
  .tone-control .knob {
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    -ms-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    position: absolute;
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in; }
  .tone-control .fill {
    background-color: #f2f2f2;
    opacity: 0.8;
    position: absolute; }

.reverb .tone-control .knob, .reverb .tone-control .fill {
  background-color: violet; }
.reverb .tone-control .knob:hover {
  background-color: #f198f1; }

.volume .tone-control .knob, .volume .tone-control .fill {
  background-color: orange; }
.volume .knob:hover {
  background-color: #ffae1a; }

.tones-up .tone-control-0 .knob, .tones-up .tone-control-0 .fill {
  background-color: #005db7; }
.tones-up .tone-control-1 .knob, .tones-up .tone-control-1 .fill {
  background-color: #0077ea; }
.tones-up .tone-control-2 .knob, .tones-up .tone-control-2 .fill {
  background-color: dodgerblue; }
.tones-up .tone-control-3 .knob, .tones-up .tone-control-3 .fill {
  background-color: #51a9ff; }

.tones-down .tone-control-0 .knob, .tones-down .tone-control-0 .fill {
  background-color: #226741; }
.tones-down .tone-control-1 .knob, .tones-down .tone-control-1 .fill {
  background-color: #2f8d59; }
.tones-down .tone-control-2 .knob, .tones-down .tone-control-2 .fill {
  background-color: mediumseagreen; }
.tones-down .tone-control-3 .knob, .tones-down .tone-control-3 .fill {
  background-color: #5ac88b; }

.viz-area {
  padding-bottom: 1rem;
  position: relative; }
  .viz-area .box {
    background-color: #fff;
    border-radius: 3px;
    height: 6px;
    position: absolute;
    width: 6px; }
    .viz-area .box.box-0 {
      background-color: #005db7; }
    .viz-area .box.box-1 {
      background-color: #0077ea; }
    .viz-area .box.box-2 {
      background-color: dodgerblue; }
    .viz-area .box.box-3 {
      background-color: #51a9ff; }
    .viz-area .box.box-4 {
      background-color: #226741; }
    .viz-area .box.box-5 {
      background-color: #2f8d59; }
    .viz-area .box.box-6 {
      background-color: mediumseagreen; }
    .viz-area .box.box-7 {
      background-color: #5ac88b; }

.tone-viz .bar {
  background-color: #fff;
  opacity: 0.1; }

.tone-viz-0 .bar {
  background-color: #005db7; }

.tone-viz-1 .bar {
  background-color: #0077ea; }

.tone-viz-2 .bar {
  background-color: dodgerblue; }

.tone-viz-3 .bar {
  background-color: #51a9ff; }

/*# sourceMappingURL=style.css.map */
