body, html {
  font-family: 'Helvetica-Neue',helvetica,sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

* {
  box-sizing: border-box; }

.shepard {
  background-color: #000;
  border: 2px solid #444;
  margin: auto;
  position: relative; }

.control-area {
  padding: 2rem 0;
  position: relative; }
  .control-area::after {
    clear: both;
    content: '';
    display: table; }

.output, .tones-group {
  background-color: #262626;
  border: 2px solid #323232;
  float: left; }
  .output .label, .tones-group .label {
    background-color: #323232;
    color: #ddd;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.3rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase; }
  .output .controls, .tones-group .controls {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 1rem 1rem; }
  .output::after, .tones-group::after {
    clear: both;
    content: '';
    display: table; }

.viz-group {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem; }

.tones {
  float: left; }

.btn-area {
  background-color: #444;
  padding: 0.8rem 0;
  text-align: center; }
  .btn-area button {
    background-color: #999;
    border: none;
    font-size: 0.8rem;
    outline: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    width: 100px;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .btn-area button:hover {
      background-color: #aaa; }
    .btn-area button:focus {
      -webkit-box-shadow: 0 0 0 2px dodgerblue;
      -moz-box-shadow: 0 0 0 2px dodgerblue;
      -ms-box-shadow: 0 0 0 2px dodgerblue;
      box-shadow: 0 0 0 2px dodgerblue; }

/* ToneControl.jsx sliders. */
.tone-control {
  display: inline-block;
  position: relative;
  user-select: none; }
  .tone-control .track {
    background-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    left: 0;
    position: absolute;
    top: 0; }
  .tone-control .knob {
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    -ms-box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.2) inset;
    position: absolute;
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in; }
  .tone-control .fill {
    background-color: #f2f2f2;
    opacity: 0.8;
    position: absolute; }

.reverb .tone-control .knob, .reverb .tone-control .fill {
  background-color: violet; }
.reverb .tone-control .knob:hover {
  background-color: #f198f1; }

.volume .tone-control .knob, .volume .tone-control .fill {
  background-color: orange; }
.volume .knob:hover {
  background-color: #ffae1a; }

.viz-area {
  padding-bottom: 1rem;
  position: relative; }
  .viz-area canvas {
    display: block;
    margin: auto; }

/*# sourceMappingURL=style.css.map */
